/Library/CrashedAssetImports.txt
/Library/EditorInstance.json
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.pdb
/Library/UIElements/EditorWindows/UnityEditor.InspectorWindow.pref
/Library/metadata/16/16474ee97bfaf0e419f7640b7f05e580
/Library/metadata/16/16474ee97bfaf0e419f7640b7f05e580.info
/Library/metadata/73/73185601829aaf34183fea1bdacdc494
/Library/metadata/73/73185601829aaf34183fea1bdacdc494.info
/Library/metadata/9b/9b7651370b431a442bc26836432c1af8
/Library/metadata/9b/9b7651370b431a442bc26836432c1af8.info
/Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
/Temp/UnityLockfile
/Temp/UnityTempFile-4d20b70397af9e84fa18697fdf53e1a6
/Temp/UnityTempFile-97fafa8b46fd42d47bc83ef0f9e5bc84
/TouchBox.sln
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/TouchBox/v15/.suo
/.vs/TouchBox/v15/Server/sqlite3/db.lock
/.vs/TouchBox/v15/Server/sqlite3/storage.ide
/.vs/TouchBox/v15/Server/sqlite3/storage.ide-shm
/.vs/TouchBox/v15/Server/sqlite3/storage.ide-wal
/Assembly-CSharp.csproj
