/Library/CrashedAssetImports.txt
/Library/EditorInstance.json
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.pdb
/Library/UIElements/EditorWindows/UnityEditor.InspectorWindow.pref
/Library/metadata/16/16474ee97bfaf0e419f7640b7f05e580
/Library/metadata/16/16474ee97bfaf0e419f7640b7f05e580.info
/Library/metadata/73/73185601829aaf34183fea1bdacdc494
/Library/metadata/73/73185601829aaf34183fea1bdacdc494.info
/Library/metadata/9b/9b7651370b431a442bc26836432c1af8
/Library/metadata/9b/9b7651370b431a442bc26836432c1af8.info
/Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
/Temp/UnityLockfile
/Temp/UnityTempFile-4d20b70397af9e84fa18697fdf53e1a6
/Temp/UnityTempFile-97fafa8b46fd42d47bc83ef0f9e5bc84
/TouchBox.sln
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/TouchBox/v15/.suo
/.vs/TouchBox/v15/Server/sqlite3/db.lock
/.vs/TouchBox/v15/Server/sqlite3/storage.ide
/.vs/TouchBox/v15/Server/sqlite3/storage.ide-shm
/.vs/TouchBox/v15/Server/sqlite3/storage.ide-wal
/Assembly-CSharp.csproj
/Library/Artifacts/02/0265a57cab6ddf538a5de063bb9b31b7
/Library/Artifacts/02/02689fda3625334016c5f4e92d91c5f1
/Library/Artifacts/05/051b1522e5314d90e74587a104a585a1
/Library/Artifacts/05/0565dc6854bd44f1f0087cf9a7fd6dda
/Library/Artifacts/06/062174fdbe26e9184011a3b6dfa4466a
/Library/Artifacts/07/07985263c082603a1e75c9583be37915
/Library/Artifacts/08/085fec89ad32c9911ede73b752a3823a
/Library/Artifacts/09/09156da2ac85d79ae5ab4d31fb960748
/Library/Artifacts/0a/0a29262c508f77ab47835d802997e202
/Library/Artifacts/0a/0a3580ede4506ca957d55e31760dde5c
/Library/Artifacts/0d/0d7cdb4f187dd470170ed4b0b33daa54
/Library/Artifacts/10/109b39d0daab9b22d210525e7a0df0fc
/Library/Artifacts/11/1100b1fb347a64c743d162e53c8f1de4
/Library/Artifacts/14/14bde8262543551d7e518701dac5ded2
/Library/Artifacts/14/14efe0ff0e56562d0eaf01f5d0ad8b72
/Library/Artifacts/15/15bdde01fbffcd1d97258500947a8524
/Library/Artifacts/19/19d7d3bce8c9c07465e2228a0cbe9f68
/Library/Artifacts/1b/1bbc5da59f5e1b627c0a3af19ab4676a
/Library/Artifacts/1c/1c43154c908f3403512312a37db7d9bf
/Library/Artifacts/1c/1c9daac36bca1e428a69508e79139e90
/Library/Artifacts/1d/1d8b9d46f020f4044fceb3873adeca79
/Library/Artifacts/1f/1f4e6feb139033be203f565d9796c162
/Library/Artifacts/1f/1f596316129267a79fa7b6d714f5e758
/Library/Artifacts/21/21a0141783029cd9e5394cc96a4f20d0
/Library/Artifacts/22/2223a9235c17fcdf326a7300f98e82ac
/Library/Artifacts/22/22662c1f8d23dfd5d0a3d1186858bfed
/Library/Artifacts/22/22b6a6d52dff1f87faf3089b627cd650
/Library/Artifacts/26/267b0a7960b8ec3018036362d9550296
/Library/Artifacts/28/2879ffa7820010f0f7caa8a8130316fa
/Library/Artifacts/29/29ca5c80074c6134e10e0770c461c24f
/Library/Artifacts/2b/2b813d7f07c05ffbed3f3d24523afee6
/Library/Artifacts/2b/2bf85e68a6dafc9b5bfbf6f17ad0bc55
/Library/Artifacts/2e/2e9e1650195b23a9c740a5f5527f9d41
/Library/Artifacts/30/307165555c8c2c349c73dc927a625332
/Library/Artifacts/34/34a4dc38556532b9893f18a83d20ab6a
/Library/Artifacts/34/34e8d897cefde40ff569c72ef8eee353
/Library/Artifacts/36/363653557abae92757b7d469b306e5c3
/Library/Artifacts/36/366d96d1bf898e6683d474cda78081dc
/Library/Artifacts/36/3696c2a5d3292fb2042ac79de4d30662
/Library/Artifacts/37/37a97739dad70d74f5a1392b6c0c33ed
/Library/Artifacts/38/388be2bf647d8104c36c54eabc2f1f89
/Library/Artifacts/3d/3d1d8e4ac54f8a569be2bc4042ccabc2
/Library/Artifacts/3d/3d8c9384c520afcc5a7a5bf399bb0d55
/Library/Artifacts/3e/3eb0d65de64a1b6b3f03ec0f47a54b69
/Library/Artifacts/41/41274ddc173a1db4068622ad567399a4
/Library/Artifacts/45/450e9decd6660abd8d1d87e51ae59b3a
/Library/Artifacts/48/487c3671892cd16839b11b0cea023421
/Library/Artifacts/48/48cbcbc762b1cc4fedab2f7c3ef70a83
/Library/Artifacts/49/494b9ce2cd0a58c745c9e93486c4d085
/Library/Artifacts/4a/4a9a03d4e6745650ddacc8d8a4f1ba89
/Library/Artifacts/4a/4acf1877a2d2bf0b771bb5d31768434e
/Library/Artifacts/4b/4b20a716bfb717a4bb0ca2a8f87c26ee
/Library/Artifacts/4c/4c18ecf0a42a448fcb46e0fc460dbb59
/Library/Artifacts/4e/4e1d91f28aac788abbcaa6fcc41206ea
/Library/Artifacts/50/503e9df3d30d0314e0b2672a57ddeeee
/Library/Artifacts/50/506a347da4fd6e4592a36bacadc4324e
/Library/Artifacts/52/5247fdb9361dc79016e57f676d6bd76f
/Library/Artifacts/52/525ebff393fa2216c16d208b32eb9eb3
/Library/Artifacts/53/533a0795e585f07e4567f7063d807a8e
/Library/Artifacts/53/534ad225e8072b1376d15218dd507ca9
/Library/Artifacts/54/548fcf78cb82c71f9da6407fcbaf3403
/Library/Artifacts/56/5673beab2085c2e914b60703d05768f1
/Library/Artifacts/5a/5a257e5e84a4c40706e05a497ced1dae
/Library/Artifacts/5a/5a4fecd828c16a5b85b8a696063cd998
/Library/Artifacts/5a/5a76395d1ca3b26bca09ab6b0a37cbed
/Library/Artifacts/5a/5a8d40cefd002f97fd46d230d6fc8788
/Library/Artifacts/5d/5d383d5723d58f7935a4f8b9fdd91655
/Library/Artifacts/62/6232d44b4e02ceb37628dd42a7fd95df
/Library/Artifacts/62/62dd1d1d12da18125be20e5812d368ea
/Library/Artifacts/63/6300169c5f0412c075e1956fd7d17896
/Library/Artifacts/63/631492ed8e2806e8725dd3c4efe0c951
/Library/Artifacts/64/64286eba5c787896a2f25f2be42c4395
/Library/Artifacts/66/66277882e741c286ce1b5737e7768c83
/Library/Artifacts/68/6872855356f903303c9cb837b17972bb
/Library/Artifacts/68/688e8de4f68509c5b0eaf62671a35838
/Library/Artifacts/6a/6a9fe355ac707e65c2a8fe76964c4a5e
/Library/Artifacts/6b/6bcc7d924cf746e6a2c34941f8c8e97c
/Library/Artifacts/6c/6c938c4b021167bb089e27c9a7f089b8
/Library/Artifacts/74/749e44e05378478538660aa4f186b06c
/Library/Artifacts/76/76a19b7ea754943615eb85757026d3a7
/Library/Artifacts/76/76d553c1d9eed046c5af72f77e190256
/Library/Artifacts/78/78648ec723ce2c3ecbb78c364ffcbc70
/Library/Artifacts/7a/7ae109b817616de38840ec26b3288f45
/Library/Artifacts/7e/7ebe432eefaa128362a830dae6f4b91a
/Library/Artifacts/7f/7f1e88fa2ac4614bb5140d8135ba4f1c
/Library/Artifacts/7f/7ff4f2f01fcbcc6292ce0c01de42bc0f
/Library/Artifacts/80/80d6f9721728d0bbd8a71030f74bf03f
/Library/Artifacts/81/81f459d2ffe9cc03d0cf0105c3c3b258
/Library/Artifacts/82/82a1dda41be92f690c4e277d6a45f9b2
/Library/Artifacts/83/8321a36464ce0ca493871354663ae6b0
/Library/Artifacts/84/84358fd02197c52f676f5e2e9a2c6635
/Library/Artifacts/86/862393399215a64dbdd11e74de673edf
/Library/Artifacts/87/87fcb1808abd9732f9c77411b5bcdab1
/Library/Artifacts/8b/8bc89b1274d818ec96c58443702a206b
/Library/Artifacts/8c/8c1eb2b858616544a2a4a1a81029f370
/Library/Artifacts/8d/8d22302371086befccc80fbed8ee4589
/Library/Artifacts/8e/8e089204cf32b2d75874f762601ad650
/Library/Artifacts/95/95f9ecb08d8eb6ac26b2e7d8e302fffa
/Library/Artifacts/96/966666ded323ebbfbfbfdb7e2f5cec22
/Library/Artifacts/97/97257241d63e650b587e5d418bea2895
/Library/Artifacts/98/9845d4ee0cdd3a8ad469e3a789fb2e08
/Library/Artifacts/9b/9b2e6af8ffee13965afd212624edc7ce
/Library/Artifacts/9f/9f12c405798ec8fac47e9abe4e679bad
/Library/Artifacts/a0/a0942c0cd1dc11b9d146172a00c410d5
/Library/Artifacts/a3/a329a87a239a3973dfe08fb222dc403f
/Library/Artifacts/a3/a346bdd61f036d955786b6c3b1c1bb42
/Library/Artifacts/a5/a5d5763e154e3323c4e97fecada9ea8c
/Library/Artifacts/a7/a76b970acdd67f9ac094d0c11d28391f
/Library/Artifacts/ab/abdf5d88c6cde07072195d231861da16
/Library/Artifacts/ad/adbec874fa24f52b78cafc72a9d1f161
/Library/Artifacts/ae/aec13a96cf22942a75c78d506501c1fd
/Library/Artifacts/b1/b1fdf7f144c14ab53a28fdc85faf8f99
/Library/Artifacts/b3/b3888669227bbba65157dd22606bb001
/Library/Artifacts/b4/b4ac70da880061eb01b8f3170fab173b
/Library/Artifacts/b6/b66de5f1dec9da90759ea6e39904a464
/Library/Artifacts/b8/b83e85bbae428577741c2e3cae5ecd8b
/Library/Artifacts/b9/b9f8cf235a7808ee4b4b6fdbe2654dd3
/Library/Artifacts/ba/ba296bf8372a05d97c43b5d292a2aab3
/Library/Artifacts/ba/ba7c316cd22237ab1f721f548ada1a81
/Library/Artifacts/bc/bcd696952563f48d65f791703ee25a50
/Library/Artifacts/be/beee14173abf5be30b9ef0753a2930fe
/Library/Artifacts/bf/bfb50bc9b6de3932fa3f182ff458cc17
/Library/Artifacts/bf/bfb71b9e985851d68029682ee06fc80e
/Library/Artifacts/c2/c2f521c15ebb7b4ac21926c4f85ed220
/Library/Artifacts/c5/c514670300bd4311e17f0672f2a4fdad
/Library/Artifacts/c5/c556838a7602f070199bb1b0e33b013d
/Library/Artifacts/c7/c7f7c550f8619ed303da465ca3576e42
/Library/Artifacts/c9/c9655fedca7398d18b05984554e95513
/Library/Artifacts/c9/c9952c6aa9f444a7176bb09e4a13c0fb
/Library/Artifacts/c9/c9adec767b3654363265b0fbcfe1c5d5
/Library/Artifacts/cd/cd3397b361b23059edbb8f90829854b2
/Library/Artifacts/cd/cda74ec0e3fa9c1dbc3835c54152e494
/Library/Artifacts/cf/cfaaa5ae8333810c8a281aa02c784e0f
/Library/Artifacts/d0/d09d1a057f626eb2b73d70b947cd23cc
/Library/Artifacts/d1/d17f4cf6832374588fc09403503c46b8
/Library/Artifacts/d1/d1b133ccfcb9c180474e6a4df289701f
/Library/Artifacts/d2/d2602f92ea01cfd4f051ff9d9e9e9b7d
/Library/Artifacts/d3/d36b535b9ca139d7200875acc6431666
/Library/Artifacts/d4/d4343682b48b00bb5a93baa7baa53f54
/Library/Artifacts/d4/d448aa30298bae000cb6e4426b0285e5
/Library/Artifacts/d6/d6a6db9f4c32830b3ca6abbe85cc2ba6
/Library/Artifacts/d8/d88424fd5f2f977ee3691e1059ac3c86
/Library/Artifacts/d8/d8a07468c92da0132eca345965ad4ea5
/Library/Artifacts/da/dacc28211ef6ede56d326ce25704bfa7
/Library/Artifacts/df/dffc2f280d9ed30be969d4f60d25d785
/Library/Artifacts/e0/e07e9b915d91dc6fc17c6b903cd6237c
/Library/Artifacts/e3/e3f4143a5dba1398558fd3d5af0b03b4
/Library/Artifacts/e4/e44b76f9a56683dc6dbaad636ae11de6
/Library/Artifacts/e4/e486c96a125d41bf71a1a11983cad0d3
/Library/Artifacts/e5/e53e05ddb3290096b92faa3d9be9e374
/Library/Artifacts/e7/e70ad7acba08198848b7b2ff2eccac7f
/Library/Artifacts/e7/e7ced1cb3b230890df2bd6aeb335ec5b
/Library/Artifacts/e8/e8489d723367de461e738ba5d85e316c
/Library/Artifacts/e8/e8f8e9f544e14fb47b928afa7716b435
/Library/Artifacts/e9/e9475a34fcde3c41aadcabdbe94b411d
/Library/Artifacts/ea/ea284bee7fa044c018ad80be19616e19
/Library/Artifacts/ef/ef5d6698a46adfe29fa5e52d768df466
/Library/Artifacts/f3/f31c081a78f731922b353f10b41fb1cf
/Library/Artifacts/f7/f772217356561d967da08a9d1e1bf720
/Library/Artifacts/f8/f874c3b82b22c10f45fce262cde2eefe
/Library/Artifacts/fa/faeb2a2c676bafd1a06c63be7faaa2c5
/Library/Artifacts/fc/fcb586e754264a4f63585c7e5e39756a
/Library/Artifacts/fd/fd1ea55433cd6c85c17c420af81db7fc
/Library/Artifacts/ff/ffe2e9ae05fcd349456285e9ae877b1c
/Library/Artifacts/ff/fff4292bc1b27b17700af4ae370e965a
/Library/Artifacts/ff/fff934eb8ffdbd6cc64a84005d330a03
/Library/GridBrush/UnityEditor.Tilemaps.GridBrush.asset
/Library/ShaderCache/3/36541ba4af79253bb5fade5dcdc32b6a.bin
/Library/ShaderCache/5/53fbf37ee91212e24d60fd5b8b991240.bin
/Library/ShaderCache/6/665c5210c02f102a3386f4b8e38a7d29.bin
/Library/ShaderCache/6/6ac5dee3990a6a862d28076fb556944f.bin
/Library/ShaderCache/7/7455e861962e22a83450f961910aac72.bin
/Library/ShaderCache/7/751c0f80f4c137b1958de5ee492af2b2.bin
/Library/ShaderCache/9/91fa46171b38548f6cc8d58b3e2e0c5a.bin
/Library/ShaderCache/9/92d31b6821db7b55e87ebccd461488e2.bin
/Library/ShaderCache/9/9fcde700427e27acd7000488746092c6.bin
/Library/ShaderCache/a/a377b45af9f011f31165cfe580b6b217.bin
/Library/ShaderCache/a/a4f2e12c4ac3f7f9e565cd83f7b20b2a.bin
/Library/ShaderCache/a/ad78b138d9ed308706a15eb11448872d.bin
/Library/ShaderCache/b/baab3410e68abe146a741a6a695f2814.bin
/Library/ShaderCache/b/bb5d566374b762e80ac9464f3922cb28.bin
/Library/ShaderCache/e/e4d5b88ddf9753bcf31a3337d413072e.bin
/Library/ShaderCache/e/e9d5a1574a40995776a4f92443223920.bin
/Library/ShaderCache/f/f0847e7728bda9bd4cb9621a9258f80f.bin
/Library/ShaderCache/f/f4b5b62cb1c450b2da70bd55f92c4e51.bin
/Temp/UnityTempFile-088c7d87eb399154590ff6b84ed107e5
/Temp/UnityTempFile-09fce89c1e22fdc4aa20510a991043a3
/Temp/UnityTempFile-10068057d245a7647813608a001b0c01
/Temp/UnityTempFile-24bc747c68ddd2a40964a2f89d5d47fb
/Temp/UnityTempFile-2a32467a5bae89144a5b39d41fd44daa
/Temp/UnityTempFile-2c6727af873ef024b991599522f5a2d0
/Temp/UnityTempFile-31ce4f07b5d3db94a9027ea1aa3d70ff
/Temp/UnityTempFile-3e64b7cbae6713747a5b4ce9c5900d33
/Temp/UnityTempFile-476c27c861d9de948b0974167e744611
/Temp/UnityTempFile-4e60ccc937471d94c89c3015fcabcfbf
/Temp/UnityTempFile-4f89407cc0cc7be40a226ffa9ac3c810
/Temp/UnityTempFile-56d611c5c3e672f49b9b8fcba99baea7
/Temp/UnityTempFile-637e64adba3dc3942a37e1af8f9b9da6
/Temp/UnityTempFile-64901fd0e8a9df34b830c351cbca584d
/Temp/UnityTempFile-66d5afc52ecc7f44aa9141fd300dbbc6
/Temp/UnityTempFile-6762f5a565652c345883aa18c4f5412e
/Temp/UnityTempFile-6fb8ed1cafe677c42a93efe2f19a590b
/Temp/UnityTempFile-71010dc61e9fd6d4a9ef94fe20e60baa
/Temp/UnityTempFile-7207d302d75b0bf4f88179af72ff51c4
/Temp/UnityTempFile-753d32cda23811547b4f6caf9f7a0b50
/Temp/UnityTempFile-788b1e0469b6d924f90d4b05837adb7a
/Temp/UnityTempFile-796e095904ec5ef40bb1b6bd5e0e6996
/Temp/UnityTempFile-8d2d718f5c5a4104cbe49154206d970b
/Temp/UnityTempFile-91e45ab233056964093ac00ae1520884
/Temp/UnityTempFile-9370d0d8fed58714093f9bc2796fd9d5
/Temp/UnityTempFile-9cdd811b33f75514eadc9f42daee5135
/Temp/UnityTempFile-a0e158fba694c524d924a8e4b8dc07f7
/Temp/UnityTempFile-a8cd9a7c4ef9574488515b042e01cbc3
/Temp/UnityTempFile-b15c1f3be26b74442806c80c9f453e1e
/Temp/UnityTempFile-b480f467e4b3bb345a7aeecde1b66a02
/Temp/UnityTempFile-b9605f5a7e783954686679a80ef82331
/Temp/UnityTempFile-bba17997488242d48b170fbe42b6063e
/Temp/UnityTempFile-be1ea5553e3429142ba5f9eeabfd73ce
/Temp/UnityTempFile-d8548391181338247adf3bd0b615a5d3
/Temp/UnityTempFile-da158883437a23d41ae356c1193b27e4
/Temp/UnityTempFile-e8a791f7e56b5bf41afca543017ceb38
/Temp/UnityTempFile-f68559cab5a4b714985ffecbaaab36a9
/Temp/UnityTempFile-fc8c48df777e485478ee9f4b6372025f
/Temp/__Backupscenes/0.backup
/Temp/bin/Debug/Assembly-CSharp.dll
/Temp/bin/Debug/Assembly-CSharp.pdb
/Temp/bin/Debug/Boo.Lang.Compiler.dll
/Temp/bin/Debug/Boo.Lang.Parser.dll
/Temp/bin/Debug/Boo.Lang.PatternMatching.dll
/Temp/bin/Debug/Boo.Lang.Useful.dll
/Temp/bin/Debug/Boo.Lang.dll
/Temp/bin/Debug/DOTween.dll
/Temp/bin/Debug/DOTween.xml
/Temp/bin/Debug/DOTween43.dll
/Temp/bin/Debug/DOTween43.xml
/Temp/bin/Debug/DOTween46.dll
/Temp/bin/Debug/DOTween46.xml
/Temp/bin/Debug/DOTween50.dll
/Temp/bin/Debug/DOTween50.xml
/Temp/bin/Debug/DOTweenPro.dll
/Temp/bin/Debug/DOTweenPro.xml
/Temp/bin/Debug/DemiLib.dll
/Temp/bin/Debug/DemiLib.xml
/Temp/bin/Debug/ExCSS.Unity.dll
/Temp/bin/Debug/Microsoft.CSharp.dll
/Temp/bin/Debug/Microsoft.Win32.Primitives.dll
/Temp/bin/Debug/System.AppContext.dll
/Temp/bin/Debug/System.Collections.Concurrent.dll
/Temp/bin/Debug/System.Collections.NonGeneric.dll
/Temp/bin/Debug/System.Collections.Specialized.dll
/Temp/bin/Debug/System.Collections.dll
/Temp/bin/Debug/System.ComponentModel.Annotations.dll
/Temp/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/Temp/bin/Debug/System.ComponentModel.Primitives.dll
/Temp/bin/Debug/System.ComponentModel.TypeConverter.dll
/Temp/bin/Debug/System.ComponentModel.dll
/Temp/bin/Debug/System.Console.dll
/Temp/bin/Debug/System.Core.dll
/Temp/bin/Debug/System.Data.Common.dll
/Temp/bin/Debug/System.Data.dll
/Temp/bin/Debug/System.Diagnostics.Contracts.dll
/Temp/bin/Debug/System.Diagnostics.Debug.dll
/Temp/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/Temp/bin/Debug/System.Diagnostics.Process.dll
/Temp/bin/Debug/System.Diagnostics.StackTrace.dll
/Temp/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/Temp/bin/Debug/System.Diagnostics.Tools.dll
/Temp/bin/Debug/System.Diagnostics.TraceSource.dll
/Temp/bin/Debug/System.Drawing.Primitives.dll
/Temp/bin/Debug/System.Dynamic.Runtime.dll
/Temp/bin/Debug/System.Globalization.Calendars.dll
/Temp/bin/Debug/System.Globalization.Extensions.dll
/Temp/bin/Debug/System.Globalization.dll
/Temp/bin/Debug/System.IO.Compression.ZipFile.dll
/Temp/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/Temp/bin/Debug/System.IO.FileSystem.Primitives.dll
/Temp/bin/Debug/System.IO.FileSystem.Watcher.dll
/Temp/bin/Debug/System.IO.FileSystem.dll
/Temp/bin/Debug/System.IO.IsolatedStorage.dll
/Temp/bin/Debug/System.IO.MemoryMappedFiles.dll
/Temp/bin/Debug/System.IO.Pipes.dll
/Temp/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/Temp/bin/Debug/System.IO.dll
/Temp/bin/Debug/System.Linq.Expressions.dll
/Temp/bin/Debug/System.Linq.Parallel.dll
/Temp/bin/Debug/System.Linq.Queryable.dll
/Temp/bin/Debug/System.Linq.dll
/Temp/bin/Debug/System.Net.Http.Rtc.dll
/Temp/bin/Debug/System.Net.Http.dll
/Temp/bin/Debug/System.Net.NameResolution.dll
/Temp/bin/Debug/System.Net.NetworkInformation.dll
/Temp/bin/Debug/System.Net.Ping.dll
/Temp/bin/Debug/System.Net.Primitives.dll
/Temp/bin/Debug/System.Net.Requests.dll
/Temp/bin/Debug/System.Net.Security.dll
/Temp/bin/Debug/System.Net.Sockets.dll
/Temp/bin/Debug/System.Net.WebHeaderCollection.dll
/Temp/bin/Debug/System.Net.WebSockets.Client.dll
/Temp/bin/Debug/System.Net.WebSockets.dll
/Temp/bin/Debug/System.Numerics.Vectors.dll
/Temp/bin/Debug/System.Numerics.dll
/Temp/bin/Debug/System.ObjectModel.dll
/Temp/bin/Debug/System.Reflection.Emit.ILGeneration.dll
/Temp/bin/Debug/System.Reflection.Emit.Lightweight.dll
/Temp/bin/Debug/System.Reflection.Emit.dll
/Temp/bin/Debug/System.Reflection.Extensions.dll
/Temp/bin/Debug/System.Reflection.Primitives.dll
/Temp/bin/Debug/System.Reflection.dll
/Temp/bin/Debug/System.Resources.Reader.dll
/Temp/bin/Debug/System.Resources.ResourceManager.dll
/Temp/bin/Debug/System.Resources.Writer.dll
/Temp/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/Temp/bin/Debug/System.Runtime.Extensions.dll
/Temp/bin/Debug/System.Runtime.Handles.dll
/Temp/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/Temp/bin/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
/Temp/bin/Debug/System.Runtime.InteropServices.dll
/Temp/bin/Debug/System.Runtime.Numerics.dll
/Temp/bin/Debug/System.Runtime.Serialization.Formatters.dll
/Temp/bin/Debug/System.Runtime.Serialization.Json.dll
/Temp/bin/Debug/System.Runtime.Serialization.Primitives.dll
/Temp/bin/Debug/System.Runtime.Serialization.Xml.dll
/Temp/bin/Debug/System.Runtime.Serialization.dll
/Temp/bin/Debug/System.Runtime.dll
/Temp/bin/Debug/System.Security.Claims.dll
/Temp/bin/Debug/System.Security.Cryptography.Algorithms.dll
/Temp/bin/Debug/System.Security.Cryptography.Csp.dll
/Temp/bin/Debug/System.Security.Cryptography.Encoding.dll
/Temp/bin/Debug/System.Security.Cryptography.Primitives.dll
/Temp/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/Temp/bin/Debug/System.Security.Principal.dll
/Temp/bin/Debug/System.Security.SecureString.dll
/Temp/bin/Debug/System.ServiceModel.Duplex.dll
/Temp/bin/Debug/System.ServiceModel.Http.dll
/Temp/bin/Debug/System.ServiceModel.NetTcp.dll
/Temp/bin/Debug/System.ServiceModel.Primitives.dll
/Temp/bin/Debug/System.ServiceModel.Security.dll
/Temp/bin/Debug/System.Text.Encoding.Extensions.dll
/Temp/bin/Debug/System.Text.Encoding.dll
/Temp/bin/Debug/System.Text.RegularExpressions.dll
/Temp/bin/Debug/System.Threading.Overlapped.dll
/Temp/bin/Debug/System.Threading.Tasks.Parallel.dll
/Temp/bin/Debug/System.Threading.Tasks.dll
/Temp/bin/Debug/System.Threading.Thread.dll
/Temp/bin/Debug/System.Threading.ThreadPool.dll
/Temp/bin/Debug/System.Threading.Timer.dll
/Temp/bin/Debug/System.Threading.dll
/Temp/bin/Debug/System.ValueTuple.dll
/Temp/bin/Debug/System.Xml.Linq.dll
/Temp/bin/Debug/System.Xml.ReaderWriter.dll
/Temp/bin/Debug/System.Xml.XDocument.dll
/Temp/bin/Debug/System.Xml.XPath.XDocument.dll
/Temp/bin/Debug/System.Xml.XPath.dll
/Temp/bin/Debug/System.Xml.XmlDocument.dll
/Temp/bin/Debug/System.Xml.XmlSerializer.dll
/Temp/bin/Debug/System.Xml.dll
/Temp/bin/Debug/System.dll
/Temp/bin/Debug/Unity.2D.Sprite.Editor.dll
/Temp/bin/Debug/Unity.2D.Sprite.Editor.pdb
/Temp/bin/Debug/Unity.2D.Tilemap.Editor.dll
/Temp/bin/Debug/Unity.2D.Tilemap.Editor.pdb
/Temp/bin/Debug/Unity.Analytics.DataPrivacy.dll
/Temp/bin/Debug/Unity.Analytics.DataPrivacy.pdb
/Temp/bin/Debug/Unity.Analytics.Editor.dll
/Temp/bin/Debug/Unity.Analytics.StandardEvents.dll
/Temp/bin/Debug/Unity.Analytics.Tracker.dll
/Temp/bin/Debug/Unity.Cecil.dll
/Temp/bin/Debug/Unity.CecilTools.dll
/Temp/bin/Debug/Unity.CollabProxy.Editor.dll
/Temp/bin/Debug/Unity.CollabProxy.Editor.pdb
/Temp/bin/Debug/Unity.CompilationPipeline.Common.dll
/Temp/bin/Debug/Unity.Legacy.NRefactory.dll
/Temp/bin/Debug/Unity.Rider.Editor.dll
/Temp/bin/Debug/Unity.Rider.Editor.pdb
/Temp/bin/Debug/Unity.SerializationLogic.dll
/Temp/bin/Debug/Unity.TextMeshPro.Editor.dll
/Temp/bin/Debug/Unity.TextMeshPro.Editor.pdb
/Temp/bin/Debug/Unity.TextMeshPro.dll
/Temp/bin/Debug/Unity.TextMeshPro.pdb
/Temp/bin/Debug/Unity.Timeline.Editor.dll
/Temp/bin/Debug/Unity.Timeline.Editor.pdb
/Temp/bin/Debug/Unity.Timeline.dll
/Temp/bin/Debug/Unity.Timeline.pdb
/Temp/bin/Debug/Unity.VSCode.Editor.dll
/Temp/bin/Debug/Unity.VSCode.Editor.pdb
/Temp/bin/Debug/UnityEditor.UI.dll
/Temp/bin/Debug/UnityEditor.UI.pdb
/Temp/bin/Debug/UnityEditor.dll
/Temp/bin/Debug/UnityEditor.xml
/Temp/bin/Debug/UnityEngine.AIModule.dll
/Temp/bin/Debug/UnityEngine.AIModule.xml
/Temp/bin/Debug/UnityEngine.ARModule.dll
/Temp/bin/Debug/UnityEngine.ARModule.xml
/Temp/bin/Debug/UnityEngine.AccessibilityModule.dll
/Temp/bin/Debug/UnityEngine.AccessibilityModule.xml
/Temp/bin/Debug/UnityEngine.AndroidJNIModule.dll
/Temp/bin/Debug/UnityEngine.AndroidJNIModule.xml
/Temp/bin/Debug/UnityEngine.AnimationModule.dll
/Temp/bin/Debug/UnityEngine.AnimationModule.xml
/Temp/bin/Debug/UnityEngine.AssetBundleModule.dll
/Temp/bin/Debug/UnityEngine.AssetBundleModule.xml
/Temp/bin/Debug/UnityEngine.AudioModule.dll
/Temp/bin/Debug/UnityEngine.AudioModule.xml
/Temp/bin/Debug/UnityEngine.ClothModule.dll
/Temp/bin/Debug/UnityEngine.ClothModule.xml
/Temp/bin/Debug/UnityEngine.ClusterInputModule.dll
/Temp/bin/Debug/UnityEngine.ClusterInputModule.xml
/Temp/bin/Debug/UnityEngine.ClusterRendererModule.dll
/Temp/bin/Debug/UnityEngine.ClusterRendererModule.xml
/Temp/bin/Debug/UnityEngine.CoreModule.dll
/Temp/bin/Debug/UnityEngine.CoreModule.xml
/Temp/bin/Debug/UnityEngine.CrashReportingModule.dll
/Temp/bin/Debug/UnityEngine.CrashReportingModule.xml
/Temp/bin/Debug/UnityEngine.DSPGraphModule.dll
/Temp/bin/Debug/UnityEngine.DSPGraphModule.xml
/Temp/bin/Debug/UnityEngine.DirectorModule.dll
/Temp/bin/Debug/UnityEngine.DirectorModule.xml
/Temp/bin/Debug/UnityEngine.GameCenterModule.dll
/Temp/bin/Debug/UnityEngine.GameCenterModule.xml
/Temp/bin/Debug/UnityEngine.GridModule.dll
/Temp/bin/Debug/UnityEngine.GridModule.xml
/Temp/bin/Debug/UnityEngine.HotReloadModule.dll
/Temp/bin/Debug/UnityEngine.HotReloadModule.xml
/Temp/bin/Debug/UnityEngine.IMGUIModule.dll
/Temp/bin/Debug/UnityEngine.IMGUIModule.xml
/Temp/bin/Debug/UnityEngine.ImageConversionModule.dll
/Temp/bin/Debug/UnityEngine.ImageConversionModule.xml
/Temp/bin/Debug/UnityEngine.InputLegacyModule.dll
/Temp/bin/Debug/UnityEngine.InputLegacyModule.xml
/Temp/bin/Debug/UnityEngine.InputModule.dll
/Temp/bin/Debug/UnityEngine.InputModule.xml
/Temp/bin/Debug/UnityEngine.JSONSerializeModule.dll
/Temp/bin/Debug/UnityEngine.JSONSerializeModule.xml
/Temp/bin/Debug/UnityEngine.LocalizationModule.dll
/Temp/bin/Debug/UnityEngine.LocalizationModule.xml
/Temp/bin/Debug/UnityEngine.ParticleSystemModule.dll
/Temp/bin/Debug/UnityEngine.ParticleSystemModule.xml
/Temp/bin/Debug/UnityEngine.PerformanceReportingModule.dll
/Temp/bin/Debug/UnityEngine.PerformanceReportingModule.xml
/Temp/bin/Debug/UnityEngine.Physics2DModule.dll
/Temp/bin/Debug/UnityEngine.Physics2DModule.xml
/Temp/bin/Debug/UnityEngine.PhysicsModule.dll
/Temp/bin/Debug/UnityEngine.PhysicsModule.xml
/Temp/bin/Debug/UnityEngine.ProfilerModule.dll
/Temp/bin/Debug/UnityEngine.ProfilerModule.xml
/Temp/bin/Debug/UnityEngine.ScreenCaptureModule.dll
/Temp/bin/Debug/UnityEngine.ScreenCaptureModule.xml
/Temp/bin/Debug/UnityEngine.SharedInternalsModule.dll
/Temp/bin/Debug/UnityEngine.SharedInternalsModule.xml
/Temp/bin/Debug/UnityEngine.SpriteMaskModule.dll
/Temp/bin/Debug/UnityEngine.SpriteMaskModule.xml
/Temp/bin/Debug/UnityEngine.SpriteShapeModule.dll
/Temp/bin/Debug/UnityEngine.SpriteShapeModule.xml
/Temp/bin/Debug/UnityEngine.StreamingModule.dll
/Temp/bin/Debug/UnityEngine.StreamingModule.xml
/Temp/bin/Debug/UnityEngine.SubstanceModule.dll
/Temp/bin/Debug/UnityEngine.SubstanceModule.xml
/Temp/bin/Debug/UnityEngine.TLSModule.dll
/Temp/bin/Debug/UnityEngine.TLSModule.xml
/Temp/bin/Debug/UnityEngine.TerrainModule.dll
/Temp/bin/Debug/UnityEngine.TerrainModule.xml
/Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.dll
/Temp/bin/Debug/UnityEngine.TerrainPhysicsModule.xml
/Temp/bin/Debug/UnityEngine.TextCoreModule.dll
/Temp/bin/Debug/UnityEngine.TextCoreModule.xml
/Temp/bin/Debug/UnityEngine.TextRenderingModule.dll
/Temp/bin/Debug/UnityEngine.TextRenderingModule.xml
/Temp/bin/Debug/UnityEngine.TilemapModule.dll
/Temp/bin/Debug/UnityEngine.TilemapModule.xml
/Temp/bin/Debug/UnityEngine.UI.dll
/Temp/bin/Debug/UnityEngine.UI.pdb
/Temp/bin/Debug/UnityEngine.UIElementsModule.dll
/Temp/bin/Debug/UnityEngine.UIElementsModule.xml
/Temp/bin/Debug/UnityEngine.UIModule.dll
/Temp/bin/Debug/UnityEngine.UIModule.xml
/Temp/bin/Debug/UnityEngine.UNETModule.dll
/Temp/bin/Debug/UnityEngine.UNETModule.xml
/Temp/bin/Debug/UnityEngine.UmbraModule.dll
/Temp/bin/Debug/UnityEngine.UmbraModule.xml
/Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
/Temp/bin/Debug/UnityEngine.UnityAnalyticsModule.xml
/Temp/bin/Debug/UnityEngine.UnityConnectModule.dll
/Temp/bin/Debug/UnityEngine.UnityConnectModule.xml
/Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.dll
/Temp/bin/Debug/UnityEngine.UnityTestProtocolModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestAudioModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestTextureModule.xml
/Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
/Temp/bin/Debug/UnityEngine.UnityWebRequestWWWModule.xml
/Temp/bin/Debug/UnityEngine.VFXModule.dll
/Temp/bin/Debug/UnityEngine.VFXModule.xml
/Temp/bin/Debug/UnityEngine.VRModule.dll
/Temp/bin/Debug/UnityEngine.VRModule.xml
/Temp/bin/Debug/UnityEngine.VehiclesModule.dll
/Temp/bin/Debug/UnityEngine.VehiclesModule.xml
/Temp/bin/Debug/UnityEngine.VideoModule.dll
/Temp/bin/Debug/UnityEngine.VideoModule.xml
/Temp/bin/Debug/UnityEngine.WindModule.dll
/Temp/bin/Debug/UnityEngine.WindModule.xml
/Temp/bin/Debug/UnityEngine.XRModule.dll
/Temp/bin/Debug/UnityEngine.XRModule.xml
/Temp/bin/Debug/UnityEngine.dll
/Temp/bin/Debug/UnityEngine.xml
/Temp/bin/Debug/UnityScript.Lang.dll
/Temp/bin/Debug/UnityScript.dll
/Temp/bin/Debug/mscorlib.dll
/Temp/bin/Debug/netstandard.dll
